<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moneyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyApp">
        <activity
            android:name=".Contributor"
            android:exported="true" />
        <activity
            android:name=".Feedback"
            android:exported="true" />
        <activity
            android:name=".Invest"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NotificationBroadcast"
            android:allowBackup="true"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <![CDATA[

        ]]>
        </receiver>

        <activity
            android:name=".IncomeDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".App"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".NotificationBroadcast"
            android:exported="true"
            tools:ignore="Instantiatable" />
    </application>

</manifest>